<form [formGroup]="contactForm" (ngSubmit)="add()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Mobile" formControlName="mobile" />
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="!contactForm.valid">Add</button>
</form>
<button mat-button (click)="list()">List contacts</button>
<div class="flex">
<div class='half-width' *ngIf="listContacts">
    <form >
        <mat-form-field>
            <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{state.name}}</span> |
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </form>
  <ul >
    <li *ngFor="let contact of contacts | filter : searchText">
      {{ contact.name }} {{contact.email}} {{contact.phone}} {{contact.mobile}}
      <button mat-button color="primary" (click)="edit(contact.id)">Edit</button>

      <button mat-button color="accent" (click)="delete(contact.id)">
        Delete
      </button>
    </li>
  </ul>
</div>
<form class='half-width' *ngIf='editContact' [formGroup]="editForm" (ngSubmit)="editing()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Mobile" formControlName="mobile" />
      </mat-form-field>
    </div>
    <button type="submit" [disabled]="!editForm.valid">Edit</button>
  </form>
</div>
